streamlit==1.35.0
boto3==1.34.82
python-dotenv==1.0.1
PyPDF2==3.0.1
pdfplumber==0.10.2
docx2txt==0.8
python-docx==0.8.11
scikit-learn==1.4.2
numpy==1.24.4
sentence-transformers==2.6.1
pandas==2.2.2
requests==2.31.0
langdetect==1.0.9
matplotlib==3.8.4